form input[type=submit], .btn { width: auto; padding: 5px 15px; font-size: 13px; color: #fff; text-transform: uppercase; border-radius: 3px; border: none; float: left; margin-right: 10px; background-image: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%); background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%); border-color: #2b669a;}

.alert { float: right;}

figure { width: 100%; height: 354px; position: relative; overflow: hidden; margin: 0 auto;}

.efect { -webkit-transition:all ease-out 0.5s; -moz-transition:all ease-out 0.5s; -o-transition:all ease-out 0.5s; -ms-transition:all ease-out 0.5s; transition:all ease-out 0.5s;}
.slider {position: relative; z-index: 1; width: 80%; height: 100%; margin: auto;}
.slider a { position: absolute; top: 0; left: 0; opacity: 0; filter:alpha(opacity=0); width: 100%; height: 100%;}
.slider a img { width: 100%; height: 100%; min-height: 353px;}
.slider a iframe { margin: 0; position: relative; width: 100%; max-height: 315px;}
.efect.ativo { opacity: 1; filter:alpha(opacity=100);}

/*controladores*/
.set { background: #000000; cursor: pointer; position: absolute; top: 50%; width: 40px; height: 39px; z-index: 5;}
span.next { right: 0;}
span.prev { left: 0;}

.next { right: 0;}
.next:before, .next:after { left: 21px;}
.next:before { -webkit-transform: rotate(-42deg); top: 8px;}
.next:after { -webkit-transform: rotate(-132deg); top: 17px;}

.next:before, .next:after, .prev:before, .prev:after { content: ""; height: 15px; background: #fff; width: 3px; position: absolute;}

.prev:before, .prev:after { left: 18px;}
.prev:before { -webkit-transform: rotate(42deg); top: 8px;}
.prev:after { -webkit-transform: rotate(132deg); top: 17px;}

.count { margin-top: 10px;}
.count p { text-align: center;}

/* SLIDE : END */



